
body {
    padding: 20px;
}
h1{
    text-align: center;
    margin: 10px;
}
p{
    margin-left: 30px;
    font-size: 20px
}
em strong{
    color:blueviolet;
}
#cloud{
    width: 100%;
}
h2{
    text-align: left;
    margin-left: 45%;    
}
.conteudos{
    background-color:#f5f5dc ;
    padding:50px ;
    border-width: 6px; 
    border-style: dashed dotted; 
    border-color: black;
    padding: 20px;    
}
.iconteudos{
    width:40%;
    display: inline-block;
    
}
ol{
    display:inline-block;
    vertical-align: top;
    width: 40%;   
}
.assuntos_relacionados{
    margin: 15px;
    }   

.arelacionados{
    width:40%;
    display: inline-block;  
}
