
body {
    background-color: white;
    padding: 20px;
}
h1{
    text-align: center;
    margin: 10px;
}
p{
    margin-left: 30px;
    font-size: 20px
}
strong{
    color:blueviolet;
}
#cloud{
    width: 100%;
}
#missão{
    text-align: left
    margin-right:50%
}
h2{
    text-align: left;
    margin-left: 45%;    
}
.conteudos{
    background-color:#c55656;
    padding:50px ;
    border-width: 6px; 
    border-style: dashed dotted; 
    border-color: black;
    padding: 20px;    
}
.iconteudos{
    width:40%;
    display: inline-block;
}
ol{
    display:inline-block;
    vertical-align: top;
    width: 40%;   
}
#subtitulo{
   text-align: left; 
   margin: 30px
}
.assuntos_relacionados{
    margin: 15px;
    }   

.arelacionados{
    width:40%;
    display: inline-block;  
}
