.itens{
    font-size: 24px;
    vertical-align: top;
}

.itensTexto{
    display:inline-block;
    width: 40%
}
iframe{
    display:inline-block;
    vertical-align: top;
    position: relative;
    margin-left: 0%;
    width: 40%
}